[github]
    user = glenfellows
[user]
	name = Glen Fellows
	email = glen@glenfellows.net
[core]
	editor = vim
	excludesfile = ~/dotfiles/git/global.gitignore
[color]
    ui = auto
    diff = auto
    status = auto
    branch = auto
    interactive = auto
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[color "branch"]
    current = yellow
    local  = blue
    remote = green
[alias]
    co = checkout
[push]
	default = simple
